<ion-modal [trigger]="trigger" (ionModalWillPresent)="ionModalWillPresent()">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-toolbar>
          <ion-title slot="start"> Modal drink </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()"> Close </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      @if (isLoading) { loading... } @else { @if (detailedDrink) {
      <app-detailed-card [detailedDrink]="detailedDrink"></app-detailed-card>
      } }
    </ion-content>
  </ng-template>
</ion-modal>
